* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrolling */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #2980b9, #2c3e50);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: relative;  /* Ensures that absolutely positioned children relate to this container */
}

#content h1 {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

#circle {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: rgb(72, 72, 72);
}


.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.flex-container > div {
  flex-grow: 1;
  align-items: center;
}

#left, #right {
  width: 50px; /* or any other width */
  position: absolute;
  font-size: 50px;
}

.side-text {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Align center vertically */
}

#left {
  left: 200px; /* 25px margin from the left side */
}

#right {
  right: 250px; /* 25px margin from the right side */
}

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.card {
  background: white;
  color: black;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: inline-block;
  width: 30%; /* Adjust based on your preference */
}

.card-container {
  text-align: center;
}

.card p, .card h3 {
  margin: 5px 0;
}
